<div class="row">
    <div class="col-md-3">
        <div id="events-sidebar" class="events-sidebar">
            <div>
                <button id="btn-create-event" class="btn btn-primary" type="button">Create Conference</button>
            </div>
            <div role="side-navigation">
                <ul id="events-list" class="nav events-sidenav">
                </ul>
            </div>
            <div role="side-pagination" class="text-center">
                <ul id="events-pagination" class="pagination">
                </ul>
            </div>
            <div id="create-event-dialog"></div>
        </div>
    </div>
    <div id="event-data" class="col-md-9">

    </div>
</div>
