<div class="row tab-header">
    <div class="col-md-12">
        <h3>Schedule</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <b>Day 1</b>
        <table class="table table-bordered table-striped schedule-table">
            <thead>
                <tr>
                    <th></th>
                    <th>Stage 1 (200 seats)</th>
                    <th>Stage 2 (100 seats)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>9:00 - 10:00</td>
                    <td colspan="2">Registration</td>
                </tr>
                <tr>
                    <td>10:00 - 11:00</td>
                    <td class="unused-schedule-table-cell"></td>
                    <td class="unused-schedule-table-cell"></td>
                </tr>
                <tr>
                    <td>11:00 - 12:00</td>
                    <td class="unused-schedule-table-cell"></td>
                    <td class="unused-schedule-table-cell"></td>
                </tr>
            </tbody>
        </table>

        <b>Day 2</b>
        <table class="table table-bordered table-striped schedule-table">
            <thead>
                <tr>
                    <th></th>
                    <th>Stage 1 (200 seats)</th>
                    <th>Stage 2 (100 seats)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>9:00 - 10:00</td>
                    <td colspan="2">Registration</td>
                </tr>
                <tr>
                    <td>10:00 - 11:00</td>
                    <td class="unused-schedule-table-cell"></td>
                    <td class="unused-schedule-table-cell"></td>
                </tr>
                <tr>
                    <td>11:00 - 12:00</td>
                    <td class="unused-schedule-table-cell"></td>
                    <td class="unused-schedule-table-cell"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <b>Unscheduled items</b>
        <div class="unscheduled-list">
            <span class="unscheduled-list-item">
                <h4>Architecting for Continuous Delivery and Zero Downtime</h4>
                <p>Axel Fontaine</p>
            </span>
            <span class="unscheduled-list-item">
                <h4>Mikado Method</h4>
                <p>Ola Ellnestam</p>
            </span>
            <span class="unscheduled-list-item">
                <h4>Extreme Programming practices for your team</h4>
                <p>Paweł Lipiński</p>
            </span>
        </div>
    </div>
</div>
