<div class="row tab-header">
    <div class="col-md-10">
        <h3>Schedule</h3>
    </div>
    <div class="col-md-2">
        <button id="add-day" class="btn btn-primary btn-add-item">Add Day</button>
    </div>
</div>

<div class="row">
    <div id="days-list" class="col-md-8">
        <div class="row">
            <div class="col-md-4 col-md-offset-8">
                <span class="slot-template" type="org">
                    <b>Organizational slot</b>
                </span>
                <span class="slot-template" type="speech">
                    <b>Speech slot</b>
                </span>
            </div>
        </div>
        <b>Day 1</b>
        <table class="table table-bordered table-striped schedule-table">
            <thead>
                <tr>
                    <th></th>
                    <th>Stage 1 (200 seats)</th>
                    <th>Stage 2 (100 seats)</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <hr>

        <div class="row">
            <div class="col-md-4 col-md-offset-8">
                <span class="slot-template" type="org">
                    <b>Organizational slot</b>
                </span>
                <span class="slot-template" type="speech">
                    <b>Speech slot</b>
                </span>
            </div>
        </div>
        <b>Day 2</b>
        <table class="table table-bordered table-striped schedule-table">
            <thead>
                <tr>
                    <th></th>
                    <th>Stage 1 (200 seats)</th>
                    <th>Stage 2 (100 seats)</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <hr>
    </div>
    <div class="col-md-4">
        <b>Unscheduled speeches</b>
        <div id="unscheduled-items-list" class="unscheduled-list"></div>
    </div>
</div>
