<div class="row tab-header">
    <div class="col-md-12">
        <h3>Schedule</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <b>Day 1</b>
        <table class="table table-bordered table-striped schedule-table">
            <thead>
                <tr>
                    <th></th>
                    <th class="text-center">Stage 1 (200 seats)</th>
                    <th class="text-center">Stage 2 (100 seats)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>9:00 - 10:00</td>
                    <td colspan="2" class="droppable-table-cell">Registration</td>
                </tr>
                <tr>
                    <td>10:00 - 11:00</td>
                    <td class="droppable-table-cell"></td>
                    <td class="droppable-table-cell"></td>
                </tr>
                <tr>
                    <td>11:00 - 12:00</td>
                    <td class="droppable-table-cell"></td>
                    <td class="droppable-table-cell"></td>
                </tr>
            </tbody>
        </table>

        <b>Day 2</b>
        <table class="table table-bordered table-striped schedule-table">
            <thead>
                <tr>
                    <th></th>
                    <th class="text-center">Stage 1 (200 seats)</th>
                    <th class="text-center">Stage 2 (100 seats)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>9:00 - 10:00</td>
                    <td colspan="2" class="text-center">Registration</td>
                </tr>
                <tr>
                    <td>10:00 - 11:00</td>
                    <td class="droppable-table-cell"></td>
                    <td class="droppable-table-cell"></td>
                </tr>
                <tr>
                    <td>11:00 - 12:00</td>
                    <td class="droppable-table-cell"></td>
                    <td class="droppable-table-cell"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <div class="list-group droppable-list">
            <span class="list-group-item draggable">
                <h4 class="list-group-item-heading">Architecting for Continuous Delivery and Zero Downtime</h4>
                <p class="list-group-item-text">Axel Fontaine</p>
            </span>
            <span class="list-group-item draggable">
                <h4 class="list-group-item-heading">Mikado Method</h4>
                <p class="list-group-item-text">Ola Ellnestam</p>
            </span>
            <span class="list-group-item draggable">
                <h4 class="list-group-item-heading">Extreme Programming practices for your team</h4>
                <p class="list-group-item-text">Paweł Lipiński</p>
            </span>
        </div>
    </div>
</div>
