<% _.each(speeches, function(speech, index) { %>
<div class="col-md-12">
    <div class="row info-field">
        <div class="col-md-2 info-label">&nbsp;&nbsp;&nbsp;&nbsp;Title:</div>
        <div class="col-md-8 item-row"><%= speech.getTitle() %></div>
        <div class="col-md-1">
            <a href="#" id="edit-speech-<%= speech.id %>" class="">
                <span class="glyphicon glyphicon-edit"></span>
            </a>
        </div>
        <div class="col-md-1">
            <a href="#" id="remove-speech-<%= speech.id %>">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </div>
    </div>
</div>
<% }); %>