<ul id="event-tabs" class="nav nav-tabs" data-tabs="event-tabs">
    <li class="active"><a href="#description" data-toggle="tab">Description</a></li>
    <li><a href="#stages" data-toggle="tab">Stages</a></li>
    <li><a href="#speakers" data-toggle="tab">Speakers</a></li>
    <li><a href="#schedule" data-toggle="tab">Schedule</a></li>
    <li><a href="#location" data-toggle="tab">Location</a></li>
</ul>

<div id="event-tabs-content" class="tab-content">
    <div class="tab-pane active" id="description">
        <h1>Description</h1>
        <textarea class="form-control" rows="5"><%= event.get('description') %></textarea>
    </div>

    <!-- Stages -->

    <div class="tab-pane" id="stages"></div>

    <!-- Speakers -->

    <div class="tab-pane" id="speakers"></div>

    <div class="tab-pane" id="schedule">
        <h1>Schedule</h1>
    </div>

    <div class="tab-pane" id="location"></div>
</div>

