<ul id="event-tabs" class="nav nav-tabs" data-tabs="event-tabs">
    <li><a href="#details" data-toggle="tab">Details</a></li>
    <li><a href="#stages" data-toggle="tab">Stages</a></li>
    <li><a href="#speakers" data-toggle="tab">Speakers</a></li>
    <li class="active"><a href="#schedule" data-toggle="tab">Schedule</a></li>
    <li><a href="#location" data-toggle="tab">Location</a></li>
</ul>

<div id="event-tabs-content" class="tab-content">
    <div class="tab-pane" id="details"></div>
    <div class="tab-pane" id="stages"></div>
    <div class="tab-pane" id="speakers"></div>
    <div class="tab-pane active" id="schedule"></div>
    <div class="tab-pane" id="location"></div>
</div>

