@sidebar-bg-color: #f7f5fa;

.sidebar-item(@border-color) {
  border-left: 3px solid @border-color;
  border-right: 3px solid @border-color;
}

.events-sidebar {
}

.events-sidenav {
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: @sidebar-bg-color;
  border-radius: 5px;
}

.events-sidebar .nav > li > span {
  display: block;
  padding: 5px 20px;
  .sidebar-item(@sidebar-bg-color);
}

.events-sidebar .nav > li > span:hover,
.events-sidebar .nav > li > span:focus {
  cursor: pointer;
  background-color: #e5e3e9;
  .sidebar-item(#dbd8e0);
}

.events-sidebar .nav > li.active > span {
  font-weight: bold;
  .sidebar-item(#428bcd);
}

.events-sidebar .nav > li > span > a,
.events-sidebar .nav > li > span > a:hover,
.events-sidebar .nav > li > span > a:focus {
  color: #428bcd;
  text-decoration: none;
}

.btn-add-item {
  margin-top: 15px;
  min-width: 80px;
}

.tab-header {
  padding-bottom: 20px;
}

.info-field {
  padding-bottom: 10px;
}

.info-label {
  font-weight: bold;
}

#speakers-list > div {
  border-bottom: 1px solid darkgrey;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.hidden {
  display: none;
}
